.wrapper {
  width: 70%;
  margin: auto;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  min-height: 10000px;
}

.history-aligncenter {
  width: 650px;
  margin:auto;
}
figure {
  float: right;
}
figcaption {
  font-style: italic;
}

